:root {
    --border-radius: 15px;
    --pacifico: 'Pacifico', cursive;
    --sky-blue:  #57c4e5;
}

* {
    box-sizing: border-box;
    margin: 0;
} 

#top {
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    
    background-image: url("img/searchspring-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.ui.menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.ui.menu .item>img:not(.ui) {
    width: 7.5rem;
}

.borderless {
    padding: 0 2%;
}

.fashion-header {
    margin: 20px;
    height: 50vh;
}

.large-header {
    width: 100%;
    height: 100%;
    background-color: #e4c1f9;
    border-radius: var(--border-radius);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.large-header>img {
    height: 100%;
}

.large-header div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.large-header div h1 {
    font-size: 2.5rem;
    text-align: center;
    font-family: var(--pacifico);
    color:white;
}

.smaller-header-container {
    display: none;
}

#dresses {
    background-color: #d3f8e2;
}

#dresses div .btn-styling  {
    background-color: #D05A69;
}

#shoes{
    background-color: #a9def9;
}

#shoes div .btn-styling {
    background-color: #DCB17C;
}

#jeans {
    background-color: #f694c1;
}

#jeans div .btn-styling  {
    background-color: #7D8993;
}

#tops {
    background-color: #ede7b1;
}

#tops div .btn-styling{
    background-color: #A68CB7;
}

.btn-styling, .shop-now-btn-lg {
    border: none;
    border-radius: 32px;
    color: white;
}

.btn-styling {
    padding: 10px;
}

.shop-now-btn-lg {
    margin-top: 10px;
    font-size: 1.5rem;
    padding: 15px;
    background-color: #F9A914;
    width: 75%;
}

.btn-styling:hover, .shop-now-btn-lg:hover {
    transform: translateY(-4px);
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 13px -7px #fcf8f8, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #f5f5f5, 5px 5px 15px 5px rgba(0,0,0,0);
}

.btn-styling:focus, .shop-now-btn-lg:focus {
    outline: none;
    transform: translateY(0);
}

.next-prev-btn-container {
    line-height: 4;
}

.prev-btn, .next-btn {
    display: none;
    background-color: var(--sky-blue);
}

/* Displays when a search is made */

main {
    display: none;
}

.pagination {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    max-width: 900px;
    margin: 20px auto;
}

.search-term-display-container {
    margin: 20px 0;
}

.search-term-display {
    font-size: 1.5rem;
}

.no-results, .results {
    display: flex;
    justify-content: center;
}

/* Result Card Styling */

.result-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #ffffff;
    width: 300px;
    margin: 20px 0;

    -webkit-box-shadow: 0px 10px 13px -7px #b3b2b2, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #b3b2b2, 5px 5px 15px 5px rgba(0,0,0,0);

    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.result-img-container {
    width: 100%;
}

.result-thumbnail {
    width: 100%;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.result-name-container {
    margin: 5px;
    width: 80%;
}

.result-name {
    text-align: center;
    font-size: 1rem;
}

.price-and-cart {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.result-price-container {
    margin: 10px 0;
}

.result-msrp, .result-price, .no-msrp {
    display: inline;
    margin: 0 2px;
    font-size: 1.2rem;
}

.result-msrp {
    text-decoration: line-through;
    color: rgb(122, 122, 122);
}

.result-price, .no-msrp {
    font-weight: 700;
}

.result-price {
    color: tomato;
}

i.large.icon {
    line-height: 1.9;
}

i.large.icon:hover {
    transform: translateY(-4px);
    color: var(--sky-blue);
    cursor: pointer;
}

#footer-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 12vh;
    border-top: 2px solid lightgray;
    width: 100%;
}

#media-icon-container {
    display: flex;
    justify-content: space-between;
    width: 30%;

}

i.icon.github.alternate:before,  i.icon.linkedin:before{
    line-height: 2;
    color: var(--sky-blue);
}

.footer-brand {
    line-height: -2;
}

/* Small to Medium devices (768px and up) */
@media screen and (min-width:600px) { 
    .fashion-header {
        display: flex;
        justify-content: space-between;
        margin: 20px 60px;
        height: 70vh;
    }

    .large-header {
        width: 49%;
        height: 100%;
    }

    .smaller-header-container {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
        height: 100%;
        width: 50%;
    }
    
    .smaller-header-container>.small-header {
        flex: 0 49%;
        height: 49%;
        border-radius: var(--border-radius);

        display: flex;
        justify-content: space-evenly;
    }

    .small-header>img {
        display: none;
    }

    .small-header>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .small-header div h2 {
        font-family: var(--pacifico);
    }
    
    .search-term-display {
        font-size: 2.5rem;
    }

    .grid-container {
        display: none;
        grid-template-columns: repeat(2, 225px);
        grid-template-rows: repeat(12, 455px);
        grid-column-gap: 20px;
        grid-row-gap: 40px;
    }

    .result-card {
        width: auto;
        height: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) { 
    .large-header div h1 {
        font-size: 2rem;
    }

    .shop-now-btn-lg {
        font-size: 1rem;
        padding: 10px;
        background-color: #F9A914;
        width: 75%;
    }

    .pagination {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .pagination-bottom {
        justify-content: flex-end;
        margin-top: 60px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 225px);
        grid-template-rows: repeat(8, 455px);
    }
}

/* Large devices (desktops, 1032px and up) */
@media screen and (min-width:1032px) { 
    .large-header div h1 {
    font-size: 3.5rem;
    }

    .shop-now-btn-lg {
        font-size: 1.5rem;
        padding: 15px;
        background-color: #F9A914;
        width: 75%;
    }

    .small-header>img {
        display: block;
        height: 100%;
        align-self: center;
    }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { 
    .grid-container {
        grid-template-columns: repeat(4, 225px);
        grid-template-rows: repeat(6, 455px);
        /* grid-column-gap: 20px;
        grid-row-gap: 40px; */
    }
 }