:root {
    --border-radius: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
} 

.borderless {
    padding: 0 2%;
}

.fashion-header {
    margin: 20px;
    height: 50vh;
}

.large-header {
    width: 100%;
    height: 100%;
    background-color: #e4c1f9;
    border-radius: var(--border-radius);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.large-header>img {
    height: 100%;
}

.smaller-header-container {
    display: none;
}

#dresses {
    background-color: #d3f8e2;
}

#shoes{
    background-color: #a9def9;
}

#jeans {
    background-color: #f694c1;
}

#tops {
    background-color: #ede7b1;
}


.prev-btn, .next-btn {
    display: none;
}

main {
    display: none;
}

.grid-container {
    display: none;
}

.results {
    display: flex;
    justify-content: center;
}

.result-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 300px;

    margin: 20px 0;

    -webkit-box-shadow: 0px 10px 13px -7px #b3b2b2, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #b3b2b2, 5px 5px 15px 5px rgba(0,0,0,0);

    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.result-img-container {
    width: 100%;
}

.result-thumbnail {
    width: 100%;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.result-name-container {
    margin: 5px;
    width: 80%;
}

.result-name {
    text-align: center;
    font-size: 1rem;
}

.price-and-cart {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.result-price-container {
    margin: 10px 0;
}

.result-msrp, .result-price {
    display: inline;
    margin: 0 2px;
    font-size: 1.2rem;
}

.result-msrp {
    text-decoration: line-through;
    color: rgb(122, 122, 122);
}

.result-price {
    font-weight: 700;
    color: tomato;
}

i.large.icon {
    line-height: 1.9;
}

i.large.icon:hover {
    transform: translateY(-4px);
    color: #57c4e5;
    cursor: pointer;
}

/* Small to Medium devices (768px and up) */
@media screen and (min-width:600px) { 
    .fashion-header {
        display: flex;
        justify-content: space-between;
        margin: 20px 60px;
        height: 70vh;
    }

    .large-header {
        width: 49%;
        height: 100%;
    }

    .smaller-header-container {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
        height: 100%;
        width: 50%;
    }
    
    .smaller-header-container>.small-header {
        flex: 0 49%;
        height: 49%;
        border-radius: var(--border-radius);

        display: flex;
        justify-content: space-around;
    }

    .small-header>img {
        display: none;
    }

    .small-header>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .grid-container {
        display: none;
        grid-template-columns: repeat(2, 225px);
        grid-template-rows: repeat(12, 455px);
        grid-column-gap: 20px;
        grid-row-gap: 40px;
    }

    .result-card {
        width: auto;
        height: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) { 
    .grid-container {
        grid-template-columns: repeat(3, 225px);
        grid-template-rows: repeat(8, 455px);
    }
}

/* Large devices (desktops, 1032px and up) */
@media screen and (min-width:1032px) { 
    .small-header>img {
        display: block;
        height: 90%;
        align-self: center;
    }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { 
    .grid-container {
        grid-template-columns: repeat(4, 225px);
        grid-template-rows: repeat(6, 455px);
        /* grid-column-gap: 20px;
        grid-row-gap: 40px; */
    }
 }